<footer class="page-footer #64b5f6 blue lighten-2">
    <div class="container">
    <div class="row">
    <div class="col l6 s12">
    <h5 class="white-text">MisionTIC</h5>
    <p class="grey-text text-lighten-4">Equipo 3 - Grupo
    20</p>
    </div>
    <div class="col l4 offset-l2 s12">
    <h5 class="white-text">Miembros de equipo</h5>
    <ul>
    <li><a class="grey-text text-lighten-3"
    href="#!">cristian</a></li>
    <li><a class="grey-text text-lighten-3"
    href="#!">diego</a></li>
    <li><a class="grey-text text-lighten-3"
    href="#!">yanneth</a></li>
    <li><a class="grey-text text-lighten-3"
    href="#!">miguel</a></li>
    <li><a class="grey-text text-lighten-3"
        href="#!">efrain</a></li>
    </ul>
    </div>
    </div>
    </div>
    <div class="footer-copyright">
    <div class="container">
    © 2021 Copyright Text
    <a class="grey-text text-lighten-4 right" href="#!">More
    Links</a>
    </div>
    </div>
    </footer>
